.App {
  border: 1px solid white;
  width: 50%;
  height: 50%;
  margin: 20px;
}
.App-footer{
  background-color: #96a6ac;
  min-height: 100vh;
  color: #66b9e2;
}
.container {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  align-content: center ;
}
.button{
  width: 20cm;
  height: 10cm;
  align-items: normal;
  }
  .GroupButton button-2{
  width: 10px;
  height: 10px;
  color: green;
  align-items: flex-end;
  }
  .GroupButton button-3{
  width: 10px;
  height: 10px;
  color: red;
  align-items: flex-end;
  }
.Done{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100px;
  height:50px;
  align-items:center;
}
.Next{
  color: rgb(6, 6, 5);
  width: 100px;
  height:50px
}

.Bro{
  border-style: solid;
  background-color: #f6f8f6;
  border-width: .5px;
  
}
.Image{
  width: 500px;
  height:300px;
  align-items:normal; 
}