.App {
  border: 1px solid white;
  width: 50%;
  height: 50%;
  margin: 20px;
}
.App-footer{
  background-color: #96a6ac;
  min-height: 100vh;
  color: #0d3041;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  align-content: center ;
}
.button{
  width: 50px;
  height: 50px;
  
}
.Done{
  width: 100px;
  height:50px
}
.Next{
  color: rgb(6, 6, 5);
  width: 100px;
  height:50px
}

.Bro{
  border-style: solid;
  background-color: #f6f8f6;
}
.Image{
  width: 500px;
  height:500px;
  
}